body{
	width:1024px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
}

#background{
	width:1024px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border: 2px solid #000000;
	background-image:url("images/gameBackground.png");
}

#powerup{
	position: absolute;
	width: 120px;
	height: 160px;
	z-index:5;
	
	background:transparent;
	border: none;
	background-image:url("images/coins.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-filter: drop-shadow(3px 3px 5px yellow);
	
	visibility: hidden;
	
	-webkit-animation: animatePowerup 0.5s linear infinite alternate;
}

@-webkit-keyframes animatePowerup{
	0%{
		width: 120px;
		height: 160px;
		-webkit-transform: rotate(-10deg);
	}
	
	50%{-webkit-transform: none;}
	
	100%{
		width:132px;
		height:176px;
		-webkit-transform: rotate(10deg);
	}
}

#infoBar{
	width:100%;
	height: 70px;
	position:absolute;
	
}

#backButton{
	position:absolute;
	height: 100px;
	width: 100px;
	z-index: 2;
	
	background:transparent;
	border: none;
	background-image:url('sunBackButton.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left top;
	-webkit-filter: drop-shadow(3px 3px 5px grey); 
}

#backButton:active{
	height: 100px;
	width: 110px;
	-webkit-filter: drop-shadow(0px 0px 0px grey); 
}

.info{
	font-family: "Rockwell", "Arial", sans-serif;
	font-size: 40px;
	text-shadow: none;
	color: black;
}

#lvlBar{
	position: absolute;
	top: 10px;
	left: 110px;
	
	font-family: "Kristen ITC", sans-serif;
	font-size: 20px;
	
}

.lvl{
	font-size: 30px;
}

#pointBar{
	position: absolute;
	top: 5px;
	left: 340px;
	
	font-family: "Kristen ITC", "Hobo Std", "Comic Sans MS", sans-serif;
	font-size: 30px;
	text-shadow: -2px -2px 0px black, 1px -1px 0px black, -1px 1px 0px black, 2px 2px 0px black;
	color: #f7e124;
}

#energyBar{
	width: 350px;
	height: 35px;
	position: absolute;
	top: 15px;
	left: 650px;
	
	background: white;
	background-image:url('energybarG.png');
	background-repeat: no-repeat;

	border: 1px solid black;
	border-radius: 20px;
	
	transition: background-position 1s, background-image 1s;
}

#spark{
	position: absolute;
	left: -70px;
	
	-webkit-animation: animateSpark 2.8s linear infinite;
}

@-webkit-keyframes animateSpark{
	0%{
		opacity: 0;
		left: -70px;
	}
	
	10%{opacity:1;}
	90%{opacity: 1;}
	
	100%{
		opacity: 0;
		left: 300px;
	}	
}

#bolt, #coin{
	position:absolute;
	left: -40px;
	z-index: 2;
	-webkit-filter: drop-shadow(2px 2px 3px grey);
}

#coin{top: 8px;}

#bolt{top: -5px;}

#coinBar{
	position:absolute;
	top: 5px;
	left: 550px;
	width: 60px;
	height: 40px;
}

#answerPanel{
	width:100%;
	height:38%;
	position:absolute;
	left:0px;
	top:13%;
	
	visibility: hidden;
}

#gameoverPanel{
	width:100%;
	height: 300px;
	position:absolute;
	left:0px;
	top:15%;

	z-index: 10;
	
	visibility: hidden;
}

#gameoverMsg{
	position: absolute;
	top: 10px;
	left: 100px;
	
	color: black;
	font-family: "Rockwell", sans-serif;
	font-size: 40px;
	font-weight: bold;
}

#gameover{
	position: absolute;
	width: 100%;
	top: 50px;
	
	text-align: center;
	color: white;
	letter-spacing: 5px;
	font-family: "Rockwell", sans-serif;
	font-size: 90px;
	font-weight: bold;
	text-shadow: -5px -5px 0px red, 5px -5px 0px red, -5px 5px 0px red, 5px 5px 0px red;
}

.gameoverInfo{
	position: absolute;
	top: 170px;
	
	color: white;
	font-family: "Rockwell", sans-serif;
	font-size: 50px;
	text-shadow: -2px -2px 0px blue, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}

#gameoverOpInfo{left: 30px}
#gameoverPtInfo{left: 500px}
#gameoverOp{color:black; text-shadow: none; font-weight: bold;}
#gameoverPt{color:black; text-shadow: none; font-weight: bold;}

#gameoverSubmit{
	position:absolute;
	top: 170px;
	left: 790px;
	width: 190px;
	height: 55px;
	
	text-align: center;
	color: black;
	letter-spacing: 0px;
	font-family: "Rockwell", sans-serif;
	font-size: 30px;
	font-weight: bold;
	
	border: 3px outset white;
	border-radius: 30px;
	box-shadow: 5px 5px 6px grey;
	
	background-color:white;
}

#gameoverSubmit:active{
	top: 175px;
	left: 795px;
	color:grey;
	box-shadow:none;
}

#question{
	position:relative;
	height: 12%;
	padding-bottom:80px;
	text-align: center;
	color: white;
	letter-spacing: 10px;
	font-family: "Rockwell", sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-shadow: -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black, 3px 3px 0px black;
}
.q{color: black; text-shadow: none}

#confirm{	
	position: absolute;
	top:-15px;
	display:block;
	height:300px;
	width: 100%;
	text-align:center;
	
	background-image:url('checkmark.png');
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
	-webkit-filter: drop-shadow(3px 3px 5px grey);
	opacity:0.8;

}

#timer{
	position: absolute;
	top: -40px;
	left: 880px;
	padding-top: 80px;
	height:100px;
	width: 100px;
	
	text-align:center;
	color: orange;
	font-family: "Kristen ITC", "Hobo Std", "Comic Sans MS", sans-serif;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	text-shadow: -3px -3px 0px black, 2px -2px 0px black, -2px 2px 0px black, 3px 3px 0px black;
	
	background-image:url('stopwatch.png');
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
	
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes timeout{
	0%{color:red}
	6%{
	top:-50px;
	left:0px;
	height:250px; 
	width:100%;
	z-index: 1;
	-webkit-filter: drop-shadow(3px 3px 5px grey); 
	color: red;
	font-size: 120px;
	padding-top: 100px;
	background-image:url('stopwatchRed.png');
	opacity:1;
	}
	
	8%{opacity:0}
	
	11%{opacity:1}
	
	14%{opacity:0}
	
	17%{opacity:1}
	
	100%{
	top:-50px;
	left:0px;
	height:250px; 
	width:100%;
	z-index: 1;
	-webkit-filter: drop-shadow(3px 3px 5px grey); 
	color: red;
	font-size: 120px;
	padding-top: 100px;
	background-image:url('stopwatchRed.png');
	opacity:1;
	}
}


.answerButtons{
	text-align: center;
	position: relative;
}

.multiChoice{
	position: relative;
	width: 180px;
	height: 90px;
	margin: 10px 30px;
	
	background:transparent;
	border: none;
	background-image:url('cloud.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-filter: drop-shadow(5px 5px 5px grey); 
	
	color: blue;
	font-family: "Rockwell", "Arial", sans-serif;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 3px;
	
}

.multiChoice:active{
	-webkit-filter: drop-shadow(0px 0px 0px grey);
	position: relative;
	top: 5px;
	left: 5px;
}


