body{
	height:600px;
	width:1024px;
}

table{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse:collapse;
	position: absolute;
	width: 824px;
	height:600px;
	top: 0px;
	left:200px;
}


td{
	text-align:center
}

.alt td{
	background-color:#EAF2D3;
}
