body{
	position: absolute;
	left: 0px;
	top:0px;
	height:600px;
	width:1024px;
	border:2px solid black;
}

#loadScreen{
	position: absolute;
	left: 0px;
	top:0px;
	height:600px;
	width:1024px;
	background-image:url("images/welcomeScreen.jpg");
	z-index:2;
}

#background{
	position: absolute;
	left: 0px;
	top:0px;
	height:600px;
	width:1024px;
	background-image:url("images/indexBackground.png");
	z-index:1;
}

h1{
	position:absolute;
	width:80%;
	margin-left:10%;
	top:450px;
}
input{
	position: absolute;
	border-radius:20px;
	border: solid transparent 5px;
}

.colorToggle{
	border-color:blue;
}

.gender{
	position:absolute;
	background: transparent;
}

#boy{
	top:10px;
	left:260px;
	width:130px;
	height:400px;
}

#girl{
	top:5px;
	left:670px;
	width:125px;
	height:400px;
	
}

#name{
	left:420px;
	top:205px;
	width:195px;
	height:40px;
	border-radius:0px;
	border: solid black 1px;
	font-size:20px;
}

#submit{
	left:460px;
	top:260px;
	height:80px;
	width:125px;
	background: transparent;
}

p{
	position:absolute;
	top:100px;
}