body{
	height:600px;
	width:1024px;
	border:2px solid black;
}

h1{
	text-align:center;
}

.colorToggle{
	background-color:#5959A7;
}

.operator{
	position:absolute;
	height:100px;
	width:100px;
	top:200px;
}

#addButton{
	left:50px;
}

#subButton{
	left:200px;
}

#multiButton{
	left:350px
}

#divButton{
	left:500px;
}

#instructionButton{
position: absolute;
	left:450px;
	top:450px;
	height:100px;
	width:150px;

}

#highScoreButton{
	position: absolute;
	left:50px;
	top:450px;
	height:100px;
	width:150px;
}

#storeButton{
	position: absolute;
	left:250px;
	top:450px;
	height:100px;
	width:150px;
}

#startGame{
	position: absolute;
	left:824px;
	top:450px;
	height:100px;
	width:150px;
}

input{
border-radius:20px;
border: solid black 2px;
}